.title{
    text-align: center;
    color: darkseagreen ;
    font-size: 30px;
}

.card{
    display: flex;
}
/* .item{
  
} */
.item h2{
    text-align: center;
    color: darkseagreen;
}
.item a {
    color: white;
    /* text-align: center; */
    margin-left: 50px;
}
@media (max-width:1100px) {
    .card{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        border: 2px solid white;
    }
}